@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto&display=swap");

// Fonts
$accent-family: "Poppins", "Roboto", sans-serif;
$rus-family: "Roboto", "Poppins", sans-serif;

// Color

$white: #fff;
$white-hover-taskbar: #8f8f8f52;

$taskbar-bg: #1d0b3c60;
$action-bg: #0e0025a2;
$search-bg: rgba(41, 7, 72, 0.615);
